<section class="footer">
    <ul>
        <li>
            <div class="footer-component">
                <fa name="map-marker" size="2x"></fa>
                <p class="text-right">Endereço: <span> Avenida Major Nicacio, Nº 1836 - Centro - Franca - SP</span>
                </p>
                <br>
            </div>
        </li>

        <li>
            <div class="footer-component">
                <fa name="history" size="2x"></fa>
                <p class="text-right">Horário: <span>Segunda à Sexta - 12:00h às 16:00h</span></p><br>
            </div>
        </li>

        <li>
            <div class="footer-component">
                <fa name="phone" size="2x"></fa>
                <p class="text-right">Telefone: <span>(16) 3724-4878</span></p><br>
            </div>
        </li>
    </ul>
</section>