/* === DEVEDORES === */
.cl-devedores {
  margin-bottom: 3rem;
}
.titledebt {
  margin-left: 230px;
}

.input-group {
  width: 40%;
  margin-left: 230px;
  z-index: 1;
}

.input-group #button-addon1 {
  margin-right: 10px;
  border-radius: 0 3px 3px 0;
}


/* === TABELA DEVEDORES === */
.table {
  max-width: 1024px;
  margin: auto;
  margin-bottom: 6rem;
  font-size: 12.5px;
}

.table .title-table {
  background-color: #bfc0c5;
  font-size: 15px;
}

.table .table-icon:hover {
  color: #095d6e;
  cursor: pointer;
}

