<!-- ALTERAR SENHA -->
<form [formGroup]="formGroupNovaSenha"  class="password-container" >
  <fieldset>
    <legend>Alterar Senha de Acesso</legend>
    <p>A senha deve ter no máximo 8 caracteres.</p>

    <div class="form-group col-md-3 feedback-group">
      <label for="formGroupPassword">Senha Atual</label>
      <input type="password"  formControlName="senhaAtual" class="form-control" id="formGroupPassword" maxlength="8" placeholder="" required>
      <div class="feedback">
            Por favor, informe a senha atual.
          </div>
    </div>

    <div class="form-group col-md-3">
      <label for="formGroupPassword2">Nova Senha</label>
      <input type="password" class="form-control" (input)="verificarSenhaForte()" formControlName="senhaNova" id="formGroupPassword2" required placeholder="">
    </div>

    <div class="form-group col-md-3">
      <label for="formGroupPassword2">Repita a Nova Senha</label>
      <input type="password" class="form-control" formControlName="senhaNova2" id="formGroupPassword2" required placeholder="">
    </div>


    <!-- <div>
      <ngx-recaptcha2 #captchaElement
        [siteKey]="siteKey"
        (reset)="handleReset()"
        (expire)="handleExpire()"
        (load)="handleLoad()"
        (success)="handleSuccess($event)"
        [useGlobalDomain]="false"
        [size]="size"
        [hl]="lang"
        [theme]="theme"
        [type]="type"
        formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>     -->

    <div class="form-group col-md-3">
      <button type="submit" [disabled]="!formGroupNovaSenha.valid" (click)="alterarSenha()" class="btn-password btn btn-primary shadow" popover="Alterar senha de acesso"
      triggers="mouseenter:mouseleave">Alterar Senha</button>
    </div>
    <br/>
    <br/>
    <strong *ngIf="forcaSenha" class="form-group col-md-3">Força da senha: {{forcaSenha}}</strong>
  </fieldset>
</form>

<div class="ilustration-pw-container">
  <img src="/assets/images/ilustration_pw.svg">
</div>
  
