<!-- TÍTULOS DO LOTE -->
<section class="tlotes-container ">
  <h2>Lote Nº 0000 | Status: EM ANDAMENTO</h2>

  <!-- TABELA -->
  <table class="table table-sm table-striped table-bordered">
    <thead class="title-table">
      <tr>
        <th scope="col">Digitação </th>
        <th scope="col">Espécie</th>
        <th scope="col">N° Título</th>
        <th scope="col">Vlr. Original</th>
        <th scope="col">Vlr. a Protestar</th>
        <th scope="col">Devedor(es)</th>
        <th scope="col">Cart</th>
        <th scope="col">Dt. Protocolo</th>
        <th scope="col">Protocolo</th>
        <th scope="col">Baixa</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>


      <tr>
        <td>01/01/2019</td>
        <td>DS</td>
        <td>2045</td>
        <td>R$ 152,60</td>
        <td>R$ 152,60</td>
        <td>Devedor (1): AMAZONAS INDUSTRIA E COMERCIO LTDA CNPJ 47959697000358</td>
        <td>3</td>
        <td>26/11/2019</td>
        <td>111</td>
        <td>Em Aberto</td>
        <td class="table-icon">
          <fa name="print" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x" (click)="ImprimirConteudo(DivDeclaracao)"></fa>
        </td>
        <td class="table-icon">
          <fa name="pencil" data-toggle="tooltip" data-placement="top" title="Imprimir Desistência (Retirada do Título)"
            size="2x"></fa>
        </td>
      </tr>

      <tr>
        <td colspan="12" scope="col">
          <nav aria-label="Navegação de página títulos">
            <ul class="pagination pagination-md">
              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
            </ul>
          </nav>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="btn-wrapper">
    <button class="btn btn-secondary btn-before" type="button" [routerLink]="'/pesquisar-lotes'">Voltar</button>
  </div>


  <!-- DECLARAÇÃO DE INDICAÇÃO/ OCULTA-->
  <div class="declaracao-container collapse">
    <div class="declaracao-body" #divDeclaracao>
      <h2>Ao Central Distribuidora de Títulos para Protesto de Franca </h2>

      <h3>Ref.: Protesto de Duplicata Mercantil por Indicação </h3>

      <p>
        Na qualidade de: <strong>SACADOR</strong>, solicitamos o protesto do título abaixo, por Indicação, nos termos da
        Lei nº 5.474 de
        18/07/68, com redação dada pela Lei nº 6.458 de 1º/11/77 e artigo 21 e parágrafos da Lei nº 9.492 de 10/09/97.
      </p>

      <h4> Devedor(es)</h4>

      <table class="table table-sm table-bordered" style="text-align: left; margin-bottom: 30px;">
        <tbody>
          <tr>
            <td colspan="2"><span style="font-weight: bold;">SACADO:</span> BERNARDO JUSTINO FRANCA</td>
            <td colspan="2"><span style="font-weight: bold;">CNPJ/CPF:</span> 38641134824</td>
          </tr>

          <tr>
            <td colspan="2"><span style="font-weight: bold;">ENDEREÇO:</span> RUA CLODOMIRO FERREIRA DA S, 1</td>
            <td colspan="3"><span style="font-weight: bold;">BAIRRO:</span> JARDIM</td>
          </tr>

          <tr>
            <td colspan="2"><span style="font-weight: bold;">CIDADE:</span> FRANCA - SP </td>
            <td colspan="2"><span style="font-weight: bold;">CEP:</span> 1440241</td>
          </tr>

          <tr>
            <td><span style="font-weight: bold;">EMISSÃO:</span> 15/11/2019 </td>
            <td><span style="font-weight: bold;">VENCTO.:</span> 05/12/2019 </td>
            <td><span style="font-weight: bold;">PRAÇA DE PAGTO.:</span> FRANCA</td>
          </tr>

          <tr>
            <td><span style="font-weight: bold;">VALOR:</span> R$ 400,00 </td>
            <td><span style="font-weight: bold;">SALDO:</span> R$ 400,00</td>
            <td><span style="font-weight: bold;">Nº DA DUPLICATA:</span> 3</td>
          </tr>

          <tr>
            <td colspan="2"><span style="font-weight: bold;">SACADOR:</span> BERNARDO NASCIMENTO </td>
            <td colspan="2"><span style="font-weight: bold;">ENDOSSOS:</span> EM ENDOSSO</td>
          </tr>

          <tr>
            <td><span style="font-weight: bold;">ENDEREÇO:</span> RUA THOMAZ GONZAGA, 1869 3 ANDAR</td>
            <td><span style="font-weight: bold;">CNPJ/CPF:</span> 39142875862 </td>
            <td><span style="font-weight: bold;">TELEFONE:</span> 992452216</td>
          </tr>
        </tbody>
      </table>

      <p class="declaracao"><strong>Declaramos, para os devidos fins, sob as penas da Lei, que os documentos originais
          (ou
          suas cópias
          autenticadas),
          que comprovam a venda mercantil, bem como o comprovante da entrega e do recebimento da(s) mercadoria(s)
          correspondente(s), são mantidos em nosso poder, comprometendo-nos a exibi-los, sempre que exigidos, no lugar
          onde
          for determinado, especialmente se sobrevir sustação judicial do protesto.</strong>
      </p>

      <p><span style="font-weight: bold;">Sem mais, firmamo-nos,</span>
      </p>
      <p style="margin: 40px 0 70px 0;">FRANCA(SP), {{data.dia}} de {{data.mes}} de {{data.ano}}.</p>
      <p
        style="text-align:center;  width: 500px; margin: auto; margin-bottom: 40px;border-top: 1px solid; font: bold 10px Arial;">
        (Assinatura da Empresa sob carimbo)
      </p>
    </div>
  </div>
</section>