/* ===  POSIÇÃO DE TÍTULOS APONTADOS ===*/
.ptitulos-container {
  width: 900px;
  margin: 0 auto;
}

.ptitulos-container h2 {
  margin-bottom: 25px;
}

.ptitulos-container legend {
  margin-bottom: 15px;
}

.ptitulos-container .form-row {
  margin-top: 2rem;
}

.btn-search .btn-pesquisa {
  width: 150px;
  margin: 20px 0 0 7px;
}


/* === BUTTON IMPRESSÃO ===*/
.ptitulos-container .btn-press {
  margin: 0 auto;
  margin-top: 6rem;
  width: 200px;
}

.btn-press .btn {
  width: 150px;
}
