<!--- HOME --->
<main class="principal shadow">
  <p>Olá<strong class="upper-text"> {{nome}}</strong>, seja bem vindo(a)! - {{data.dia}} de {{data.mes}} de {{data.ano}}.<br><br>

    Flexibilidade e agilidade com tecnologia avançada definem o "<strong>Web Protesto</strong>", que foi criado com a missão de aproximar os cartórios do dia-a-dia de sua empresa ou negócios, transformando o tramite de protesto em um processo rápido, e simples.<br><br>
      
      Nos menus acima, disponibilizamos todas as ferramentas necessárias para digitação e controle dos seus títulos, inclusive com acompanhamento diário das baixas.<br><br>
      
      Tudo organizado de forma intuitiva e clara, para melhor utilização do site.</p>  
</main>
